body {
  background-color: rgb(35, 116, 141);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.58em;
  color: #212529;
  text-align: center;
}

header {
  font-weight: 600;
  font-size: 18px;
}

button{
  border-radius: 10px;
  border-style: none;
  background-color: rgb(26, 137, 211);
  color: white;
  padding: 3px 15px 3px 15px
}

main {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
}

li{
  /* background-color: red; */
  border-radius: 15px;
}
.list-container{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}


.selected {
  background-color: grey;

}

.completed {
  text-decoration: line-through solid black;
}

p {
  color: grey;
}
